@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

/* Hero unit and title */
.hero-unit { background-color:#0A9C6E;  padding: 32px; margin-bottom: 10px; }
/* #CEE2D9; #E2CED8; #016FB8;*/
.title { position: relative; left: 20px; top: 4px; }
.title p { color: #fff; font-size: 19px; font-weight: bold; }
.title h1 { font-family: 'Yanone Kaffeesatz', sans-serif; color: #fff;}

/* Fork me */
.fork-me { position: relative; min-width: 500px; }
.fork-me a img { position: absolute; right: 0; top: 0;}

/* Examples and colors */
ul { list-style-type: none; margin: 0; }
pre .attr { color: #206BF0; font-weight: bold; }
pre .text { font-weight: bold;  color:#318522; }
pre a { font-family: 'Helvetica Neue', sans-serif; color: #fff; }
pre {font-size: 12px;}

/* Footer */
.footer { margin-top: 30px;  border-top: 1px solid #EEE; }
.footer a {   color: #D30101; }
