/*.container {
   margin-right: auto;
   margin-left: auto;
   max-width: 960px;
}*/
.container {
  border: 1px #333 solid;
border-top: 0px;
border-bottom: 0px; 
}
/*width: auto;
height: 100%;
max-width: 1000px;
min-width: 500px;*/
/*max-width: 1000px;
padding-bottom: 5em;
padding: 50px;
border: 1px #333 solid;
border-top: 0px;
border-bottom: 0px;*/

.logo {
   margin-top: 25px;
}
.listify {
   font-size: 50px;
   font-weight:100;
}

.border {
   height: 3px;
   background-color: #D30101;
}

pre code {
   display: inline;
}

pre a {
   font-family: 'Helvetica Neue', sans-serif;
}

#footer {
margin-top: 60px;
padding: 25px 0;
border-top: 1px solid #E5DBD6;
background-color: #F2ECE9;
overflow: hidden;
font-family: 'Maven Pro';
font-weight: bold;
}

#footer #footer-wrapper {
}

.output {
}

.logo h1 {   
   font-size: 78px;
   color: #333;
}

.lema {
   color: #D30101;
}

.convert {
}

input[type="text"] {
   margin-bottom: 0px !important;
   font-size: 19px;
}

form {
   margin: 0;
}

ul.toolbar > li {
   float: left;
   display: list-item;
   list-style: none;
   margin: 0 5px 10px 0;
}

/*.text-area, #result, .toolbar{
   width: 85%;
   margin: 0 auto;
   margin-bottom: 8px;
}*/
#format {
   margin: 0 auto;
}

.hero-unit {
   padding: 10px !important;
}  


#result pre, textarea, input[type="text"] {
border: 1px solid #A7A7A7;
background: #FFF;
color: #6D757F;
font: 400 16px/16px 'Helvetica Neue',sans-serif;
margin: 0;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
box-shadow: 0 0 0 3px #E5EEFC;
-webkit-box-shadow: 0 0 0 3px #E5EEFC;
-moz-box-shadow: 0 0 0 3px #e5eefc;
}

.text-area {
   margin-top: 10px;
   margin-bottom: 10px;
}


